@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*
** 
** header base [header]
**
*/
header {
  width: 100vw;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 2rem;
}

/*
** 
** navigation [ul]
** <logo & tag>
*/
@media screen and (min-width: 1142px) {
  .headerNavOuter {
    height: 50px;
    min-width: 100%;
    display: flex;
  }
  .headerNavOuter .siteIcon {
    border-bottom: none;
  }
  .headerNavOuter .siteIcon img {
    margin: 20px 0 0 20px;
    width: 200px;
    height: auto;
  }
  .headerNavOuter .headerNav {
    justify-content: space-between;
    display: flex;
    margin-left: 3%;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
    list-style-type: none;
  }
  .headerNavOuter .headerNav .categories {
    display: block;
    display: flex;
  }
  .headerNavOuter .headerNav .categories a {
    display: flex;
    padding: 10px 10px 0 10px;
    margin: 10px 5px;
    border-bottom: solid 2px;
    padding-bottom: 25px;
    font-size: 1.3rem;
    vertical-align: text-bottom;
  }
  .headerNavOuter .headerNav .categories .cate1,
  .headerNavOuter .headerNav .categories .cate6 {
    border-color: #F20C0C;
  }
  .headerNavOuter .headerNav .categories .cate2 {
    border-color: #9634F8;
  }
  .headerNavOuter .headerNav .categories .cate3 {
    border-color: #34F8EC;
  }
  .headerNavOuter .headerNav .categories .cate4 {
    border-color: #DCF834;
  }
  .headerNavOuter .headerNav .categories .cate5 {
    border-color: #F8A934;
  }
}
@media screen and (max-width: 1142px) {
  .header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    background-color: #1e1e1e;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;
  }
  .headerNavOuter {
    margin-bottom: 0;
    position: relative;
  }
  .siteIcon {
    margin: 0;
  }
  .siteIcon img {
    width: 30%;
    height: 30%;
  }
  /* Start navigation */
  .headerNav {
    position: fixed;
    right: -250px; /*右側に隠しておく*/
    top: 0;
    width: 250px;
    height: 100vh;
    /* padding-top: 40px; */
    background-color: #1e1e1e;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 20;
    overflow-y: auto;
  }
  .navList {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
  }
  .categories {
    padding: 1rem 1rem 0;
  }
  .categories a {
    font-size: 25px;
    display: block;
    font-weight: bold;
    color: #ffffff;
    padding: 3 0 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate1 {
    display: block;
    border-bottom: 2px solid #f20c0c;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate2 {
    display: block;
    border-bottom: 2px solid #9634f8;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate3 {
    display: block;
    border-bottom: 2px solid #34f8ec;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate4 {
    display: block;
    border-bottom: 2px solid #dcf834;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate5 {
    display: block;
    border-bottom: 2px solid #f8a934;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .categories .cate6 {
    display: block;
    border-bottom: 2px solid #f8a934;
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  /* End navigation */
  /* Start hamburger btn */
  .hamburger_btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    height: 55px;
    cursor: pointer;
    z-index: 30;
  }
  .hamburger_btn .hamburger_line {
    position: absolute;
    left: 3px;
    width: 80%;
    height: 3px;
    background-color: #fb41ff;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .hamburger_btn .hamburger_line_1 {
    top: 20px;
  }
  .hamburger_btn .hamburger_line_2 {
    top: 35px;
  }
  .hamburger_btn .hamburger_line_3 {
    top: 50px;
  }
  /* End */
  /* nav appier */
  .nav-open {
    /* change hamburger to X */
  }
  .nav-open .headerNav {
    right: 0;
  }
  .nav-open .hamburger_line_1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
  }
  .nav-open .hamburger_line_2 {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger_line_3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
  }
}
/* End */
/*
}

/*
** 
** search box [form]
**
*/
.search-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.search-box input {
  width: 60%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px;
  padding-left: 10px;
}
.search-box input[type=text]:focus {
  outline: none;
}
.search-box input:focus::placeholder {
  color: transparent;
}
.search-box button {
  width: 40px;
  height: 40px;
  background-color: #FB41FF;
  border-radius: 0 8px 8px 0;
  margin-left: -10px;
  cursor: pointer;
}
.search-box button i {
  background-color: #FB41FF;
  border-color: #ffffff;
  font-size: 1.2rem;
}

main {
  width: 60%;
  margin: 0 auto;
}
main .main-title {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
main p {
  font-family: "inter";
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}
main .main-img {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}
main .gif-container {
  display: grid;
  grid-gap: 1% 1%;
  grid-template-columns: repeat(4, 24%);
  grid-auto-rows: 15rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 979px) {
  main .gif-container {
    display: grid;
    grid-gap: 1rem 1.5rem;
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: 15rem;
    margin-bottom: 3rem;
  }
}
main .gif-item1 {
  background-color: #eee8f1;
}
main .gif-item2 {
  background-color: #eee8f1;
}
main .gif-item3 {
  background-color: #eee8f1;
}
main .gif-item4 {
  background-color: #eee8f1;
}
main .gif-item5 {
  background-color: #eee8f1;
}
main .gif-item6 {
  background-color: #eee8f1;
}
main .gif-item7 {
  background-color: #eee8f1;
}
main .gif-item8 {
  background-color: #eee8f1;
}
main .gif-item9 {
  background-color: #eee8f1;
}
main .gif-item10 {
  background-color: #eee8f1;
}
main .gif-item11 {
  background-color: #eee8f1;
}
main .gif-item12 {
  background-color: #eee8f1;
}

/*
** 
** footer base [footer]
**
*/
footer {
  text-align: center;
  padding-bottom: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background-color: #1E1E1E;
  color: #ffffff;
  font-family: "inter";
}

/*# sourceMappingURL=style.css.map */
