$color-background: #1E1E1E;
$color-serchbtn: #FB41FF;

$color-menu1: #F20C0C;
$color-menu2: #9634F8;
$color-menu3: #34F8EC;
$color-menu4: #DCF834;
$color-menu5: #F8A934;

$font-main: "inter";