main {
  width: 60%;
  margin: 0 auto;

  .main-title {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;

    .group {
      display: flex;
    }

    ul {
      display: flex;

      li button {
        padding: 10px;
        border-radius: 20px;
        margin-left: 10px;
        font-size: 15px;
      }
    }
  }

  p {
    font-family: $font-main;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .main-img {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    cursor: pointer;
  }

  .gif-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1000px;
    gap: 20px;

    @media screen and (max-width: 979px) {
      display: grid;
      grid-gap: 1rem 1.5rem;
      grid-template-columns: repeat(3, 32%);
      grid-auto-rows: 15rem;
      margin-bottom: 3rem;
    }
  }

  .gifItemClass {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-search {
    display: none;

    ul {
      display: flex;

      li button {
        padding: 10px;
        border-radius: 20px;
        margin-left: 10px;
        font-size: 15px;
      }
    }
  }
}
